.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
.product:hover {
  transform: translate(0, 100px, 10px);
  box-shadow: 0 0 30px grey;
}
.product_rating {
  display: flex;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product_info {
  height: 100px;
  margin-top: 15px;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
